$dark-color: #141414;
$red-color: #E50914;
$white-color: #fff;
$form-background-color: transparent;

.bg-dark{
    background: $dark-color !important;
}
.form-control.search-form{
    border-radius: 0px;
    background-color: $form-background-color;
    height:25px;
    font-size:11px;
    &:hover, &:after, &:focus {
        background-color: $form-background-color;
    }
}
.nav-link {
	font-size: 12px;
}
.navbar-brand {
	color: $red-color !important;
}
.navbar-dark {
	.navbar-nav {
		.nav-link {
			color: $white-color;
			font-weight: bold;
			cursor: pointer;
		}
	}
}
.dropdown-item{
    font-size: 12px;
}