<div class="container top">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title uppercase">
          <a routerLink="/movies">MOVIES</a> > {{ genre }}
        </h2>
      </div>
    </div>
    <div class="row">      
      <div 
        class="col-6 col-md-2 col-sm-3 col-xs-6"
        *ngFor="let movie of movies">
        <a [routerLink]="['/movie',movie.key]">
          <div class="item">
            <img  class="img-fluid" src="assets/images/movie-covers/{{ movie.img }}">
          </div>
        </a>
      </div> 
    </div>
</div>
