/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

$body-background-color: #1c1c1c;
$white-color: #fff;
$red-color: #E50914;

body{
    background: $body-background-color;
}
.top{
    padding-top: 90px;
}
.junbron-top{
    padding-top: 15px;
}
.item {
    margin-bottom: 15px;
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.125);
      z-index:11;
    }
}
h2.title{
    color: $white-color;
    font-size:16px;
    margin-bottom:0.8rem;
}
h2.title a{
    color: $red-color;
    &:hover {
        text-decoration: underline;
    }
}
.dropdown-item{
    font-size: 11px;
    text-decoration: uppercase;
}
.uppercase{
	text-transform: uppercase;
}